<title>{{ title }}</title>

<div class="main">
  <div class="element">{{title}}</div>
  <div class="element" #element>
    <app-button 
      #redPill
      name="Red Pill"
      color="rgba(255, 0, 63, 25%)"
      colorBorder="1px dashed rgba(255, 0, 63, 100%)"
      (click)="handleRed(element)">
    </app-button>
    <app-button
      #bluePill
      name="Blue Pill"
      color="rgba(63, 0, 255, 25%)"
      colorBorder="1px dashed rgba(63, 0, 255, 100%)"
      (click)="handleBlue(element)">
    </app-button>
  </div>
</div>
